---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="yeoularu">
  <section class="flex flex-col gap-4">
    <button
      type="button"
      class="not-format w-fit text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium text-sm rounded-lg px-5 py-2.5 inline-flex items-center gap-2 me-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
    >
      <img class="w-6 h-6" src="/favicon.svg" alt="avatar" />
      <span>Seungtae Oh</span>
    </button>
  </section>
</BaseLayout>
