---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Seungtae Oh">
  <section class="flex flex-col gap-8">
    <div class="format-headings:mb-0">
      <h2>오승태</h2>
      <h4>Seungtae Oh</h4>
      <span>Developer</span>
    </div>

    <div class="flex items-center gap-2">
      <svg
        class="w-6 h-6"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"
        ></path>
      </svg>
      <span>Seoul, Republic of Korea</span>
    </div>

    <div class="format-p:my-0 format-strong:font-normal space-y-2">
      <p>
        I like to build things that are useful and fun, always keeping the <strong
          >user experience</strong
        > in mind.
      </p>
      <p>
        I've been developing web applications, mostly using <strong
          >React</strong
        >. Nowadays, I'm getting into game development with <strong
          >Unity</strong
        >.
      </p>
    </div>
  </section>
</BaseLayout>
