---
import DarkModeBtn from "./DarkModeBtn.astro";
---

<header class="flex items-center justify-between p-4 not-format">
  <a href="/" class="dark:text-white">yeoularu</a>

  <DarkModeBtn />
</header>
