---
const { href, title, text } = Astro.props;
---

<div class="format-p:my-2 format-a:no-underline format-h5:m-0">
  <a
    href={href}
    class="block px-6 py-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >
    <div class="flex items-center gap-2 h-10">
      <slot />
      {
        title && (
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            {title}
          </h5>
        )
      }
    </div>

    <p class="font-normal">
      {text}
    </p>
  </a>
</div>
